*.csv
*.txt
Compress Pic/Compress_pic.py
Compress Pic/Compress.cmd
Compress Pic/Persen/*
Compress Pic/instal_in_regedit.reg
NLP Zomato Restaurant/NLP_Example.ipynb
Plant Leaf Disease Detection Using CNN/Deployment App VSCode/*
Plant Leaf Disease Detection Using CNN/Dataset/*
Plant Leaf Disease Detection Using CNN/Proposal Project.docx
Python Tutorial/*.docx
Python Tutorial/*.exe
Python Tutorial/@Reverensi.lnk
Python Tutorial/@Reverensi/*
Visualisasi Data COVID-19/Indonesia.shp
Visualisasi Data COVID-19/query.json
NLP Fake or Real News/NLP_Example.ipynb
NLP US Elections/NLP_Example.ipynb