Compress Pic/Compress_pic.py
Compress Pic/Compress.cmd
Compress Pic/Persen/*
Compress Pic/instal_in_regedit.reg
Customer Personality Analysis/
Hotel Recommendation System/Hotel_Reviews.csv
NLP Artikel Indoesia/artikel.txt
NLP Zomato Restaurant/NLP_Example.ipynb
NLP Zomato Restaurant/total_reviev.txt
NLP Zomato Restaurant/zomato.csv
Plant Leaf Disease Detection Using CNN/Deployment App VSCode/*
Plant Leaf Disease Detection Using CNN/Dataset/*
Plant Leaf Disease Detection Using CNN/Proposal Project.docx
Python Tutorial/*.docx
Python Tutorial/*.exe
Python Tutorial/@Reverensi/*
Text Emotions Detection/text.txt
Visualisasi Data COVID-19/Indonesia.shp
Visualisasi Data COVID-19/query.json
