*.csv
Compress Pic/Compress_pic.py
Compress Pic/Compress.cmd
Compress Pic/Persen/*
Compress Pic/instal_in_regedit.reg
NLP Zomato Restaurant/NLP_Example.ipynb
Plant Leaf Disease Detection Using CNN/Deployment App VSCode/*
Plant Leaf Disease Detection Using CNN/Dataset/*
Plant Leaf Disease Detection Using CNN/Proposal Project.docx
Python Tutorial/*.docx
Python Tutorial/*.exe
Python Tutorial/@Reverensi.lnk
Python Tutorial/@Reverensi/*
Visualisasi Data COVID-19/Indonesia.shp
Visualisasi Data COVID-19/query.json
NLP Fake or Real News/NLP_Example.ipynb
NLP US Elections/NLP_Example.ipynb
Text Emotions Detection/text.txt
NLP Artikel Indoesia/artikel.txt
NLP Zomato Restaurant/total_reviev.txt
Multi JPG Subfolder to PDF/main.py
NLP WhatsApp Chat/whatsapp.txt
Multi JPG Subfolder to PDF/main2.py
*.xlsx
5 H Data Challenge/Questions.ipynb
*.pyc